/* stylelint-disable declaration-block-no-duplicate-properties */
/* stylelint-disable scss/at-extend-no-missing-placeholder */
@import '@/assets/styles/mixin';

.table {
  // 竖屏时，由于主动做了旋转，故高度需要使用 vw 来表达
  max-height: 100vw;

  // max-height: calc(100vh - constant(safe-area-inset-bottom));
  // max-height: calc(100vh - env(safe-area-inset-bottom));
}

.tableShort {
  // 竖屏时，由于主动做了旋转，故高度需要使用 vw 来表达
  max-height: calc(100vw - 34px);

  // max-height: calc(100vh - 34px - constant(safe-area-inset-bottom));
  // max-height: calc(100vh - 34px - env(safe-area-inset-bottom));
}

.goodsTypeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .desc {
    max-width: 75%;
    font-size: 12px;
    font-family: 'Microsoft Yahei';
    color: #3d464d;

    &Empty {
      color: #a9a9a9;
    }

    @extend .word-break;
  }

  .btnGroup {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .closeBtn {
      margin-right: 5px;
      font-size: 16px;
    }

    .editBtn {
      font-size: 16px;
    }
  }
}

@media screen and (orientation: landscape) {
  .table {
    // 横屏时，高度就是用vh来表达
    max-height: 100vh;
  }

  .tableShort {
    // 横屏时，高度就是用vh来表达
    // max-height: calc(100vh - 34px) !important;
    max-height: calc(100vh - 11.333vh) !important;
  }

  .goodsTypeInput {
    .desc {
      font-size: 4vh !important;
    }

    .btnGroup {
      .closeBtn {
        margin-right: 1.667vh !important;
        font-size: 5.333vh !important;
      }

      .editBtn {
        font-size: 5.333vh !important;
      }
    }
  }
}
